* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  --modal-border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

/* @font-face {
  font-family: norse-bold;
  src: url("Norse-Bold.otf");
} */

.library {
  display: flex;
  flex-direction: column;
}

body > header:first-child {
  font-weight: bold;
  background-color: lightgray;
  padding: 1rem;
  font-family: norse-bold, sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: var(--modal-border);
}

.wrapper > div {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: var(--modal-border);
}

.book {
  height: fit-content;
}

.form {
  background-color: lightgray;
  padding: 1rem;
  border: var(--modal-border);
}

form {
  display: none;
}

.visible {
  display: block;
}

button {
  background-color: skyblue;
  padding: 0.5rem;
  border-radius: 15px;
  width: max-content;
  align-self: center;
}

button:hover {
  opacity: 50%;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

:required {
  border: 1px solid red;
}

:valid:not(button) {
  border: 1px solid green;
}

button.read {
  background-color: green;
}

button.unread {
  background-color: red;
}
