* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  --modal-border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

/* @font-face {
  font-family: norse-bold;
  src: url("Norse-Bold.otf");
} */

.library {
  display: flex;
  flex-direction: column;
}

body > header:first-child {
  font-weight: bold;
  background-color: #fff;
  padding: 1rem;
  font-family: norse-bold, sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: var(--modal-border);
}

.wrapper > div {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: var(--modal-border);
}

.book {
  height: fit-content;
}

.form {
  background-color: #fff;
  padding: 1rem;
  border: var(--modal-border);
}

form {
  display: none;
}

.visible {
  display: block;
}

button {
  background-color: lightgoldenrodyellow;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid goldenrod;
  width: max-content;
  align-self: center;
}

button:hover {
  opacity: 50%;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

:required {
  border-radius: 15px;
  border: 1px solid;
}

button.read {
  border-radius: 15px;
  background-color: lightgreen;
}

button.unread {
  background-color: lightcoral;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;
  margin: 0.6rem;
  padding: 5px;
}

input:optional {
  border: 1px solid silver;
}

input + span {
  position: relative;
}

input:required + span::after {
  font-size: 0.6rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: red;
  padding: 1px 4px;
  top: 27px;
  left: -55px;
  border-radius: 15px;
}

input:invalid + span {
  position: relative;
}

input:invalid + span::before {
  position: absolute;
  content: "✖";
  color: red;
  padding: 4px 7px;
  top: -5px;
}

input:valid + span::before {
  position: absolute;
  content: "✓";
  color: green;
  padding: 4px 7px;
  top: -5px;
}
