* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  --modal-border: 1px solid black;
}

@font-face {
  font-family: norse-bold;
  src: url("Norse-Bold.otf");
}

body > header:first-child {
  font-weight: bold;
  background-color: beige;
  padding: 1rem;
  font-family: norse-bold, sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: var(--modal-border);
}

.wrapper > div {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: var(--modal-border);
}

.book {
  height: fit-content;
}

.form {
  background-color: beige;
  padding: 1rem;
  border: var(--modal-border);
}

form[class="invisible"] {
  display: none;
}

.visible {
  display: block;
}
